header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background: transparent;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.black{
    background-color: #111;
}
.header--logo img{
    height: 50px;
    width: 90%;
}
.header--logo .user{
    border-radius: 6px;
    height: 50px;
    width: 50px;
}
/* Celular */
@media (max-width: 430px) {
    header{
        padding: 15px;
    }
}header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background: transparent;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.black {
    background-color: #111; /* Cor para o modo escuro */
}

.header--logo img {
    height: 50px;
    width: 90%;
}

.header--logo .user {
    border-radius: 6px;
    height: 50px;
    width: 50px;
}
/* Celular */
@media (max-width: 430px) {
    header {
        padding: 15px;
        width: 100%;
    }
    .divisor{
        margin-right: 20px;
    }
}
