.movieRow {
    margin-bottom: 30px;
    position: relative;
}

.movieRow h2 {
    margin: 0 0 0 30px;
}

.movieRow--listarea {
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}

.movieRow--list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movieRow--item--t,
.movieRow--item--c,
.movieRow--item--p {
    display: flex;
    overflow-x: hidden;
    padding: 10px 0;
    white-space: nowrap;
    margin-left: 40px;
}

.movieRow--item--t img {
    margin-right: 10px;
    width: 220px;
    height: 160px;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.movieRow--item--p img{
    border-radius: 8px;
    width: 300px;
}
.movieRow--item--p img:hover {
    cursor: pointer;
}
.movieRow--item--c img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    filter: grayscale(100%);
    transition: 0.3s;
}
.movieRow--item--c img:hover{
    filter: grayscale(0%);
}
.movieRow--item--c{
    display: flex;
    justify-content: center;
    margin-left: 5px;
}
img {
    width: 250px;
    height: 180px;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

img:hover {
    transform: scale(0.97);
}
.movieRow--left--p,
.movieRow--right--p,
.movieRow--left--t,
.movieRow--right--t {
    position: absolute;
    width: 40px;
    height: 265px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s;
}
.movieRow--left--p button,
.movieRow--right--p button,
.movieRow--left--t button,
.movieRow--right--t button {
    background: transparent;
    color: #999;
    font-size: 40px;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    height: 180px;
}

.movieRow--left--t,
.movieRow--left--p {
    left: 5px;
}

.movieRow--right--p,
.movieRow--right--t {
    right: 5px;
}

.movieRow:hover .movieRow--left--p,
.movieRow:hover .movieRow--right--p,
.movieRow:hover .movieRow--left--t,
.movieRow:hover .movieRow--right--t {
    opacity: 1;
}
.movieRow.light {
    background-color: white;
    color: black;
}

.movieRow.dark {
    background-color: #333;
    color: white;
}
/* Modal */
.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s ease;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #252525;
    position: fixed;
    left: 25%;
    top: 10%;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    transition: transform 0.5s ease;
}

.modal-content img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: none;
}

.modal-content img:hover {
    transform: scale(1);
}

.modal-content p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.modal-content video {
    width: 100%;
    height: auto;
}

/* Celular */
@media (max-width: 430px) {
    .movieRow,
    .movieRow--listarea {
        margin-bottom: 20px;
        width: 60vh;
        margin-top: 50px;
    }

    .movieRow h2 {
        font-size: 1.5em;
        margin-left: 20px;
    }

    .movieRow--item {
        padding: 5px 0;
        margin-left: 40px;
    }
    .movieRow--item--c {
        margin-left: 40px;
    }
    .movieRow--item img {
        width: 120px;
        height: auto;
    }
    .movieRow--item--p img{
        width: 300px;
    }
    .movieRow--item--c img {
        margin-right: 10px;
        width: 60px;
        height: 60px;
        filter: grayscale(0%);
    }
    .movieRow--item--c{
        display: flex;
        justify-content: center;
        margin-left: 5px;
        width: 58vh;
    }
    .modal-content {
        width: 80%;
        max-width: 90%;
        position: fixed;
        left: 10%;
        top: 15%;
    }
    .modal-content img {
        width: 100%;
    }
    .close {
        font-size: 40px;
    }
    .movieRow--left--t button,
    .movieRow--right--t button,
    .movieRow--left--p button,
    .movieRow--right--p button {
        background: transparent;
        color: #999;
        font-size: 40px;
        margin: 0 10px;
        border: none;
    }
    .movieRow--left--t,
    .movieRow--right--t {
    position: absolute;
    width: 40px;
    height: 200px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.2s;
    }
    .movieRow--left--p,
    .movieRow--right--p {
    opacity: 1;
    }
    .divisor {
        margin-right: 10vh;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .movieRow {
        margin-bottom: 25px;
        width: 94.5vh;
    }

    .movieRow h2 {
        font-size: 1.75em;
        margin-left: 25px;
    }

    .movieRow--item img {
        width: 180px;
        height: auto;
    }
    .movieRow--item--t{
        background-color: #111;
    }
    .movieRow--item--c img {
        margin-right: 10px;
        width: 60px;
        height: 60px;
        filter: grayscale(0%);
    }
    .movieRow--item--c{
        display: flex;
        justify-content: center;
        margin-left: 5px;
    }
    .movieRow--item{
        background-color: #111;
    }
    .movieRow--left--t button,
    .movieRow--right--t button,
    .movieRow--left--p button,
    .movieRow--right--p button {
        background: transparent;
        color: #999;
        font-size: 40px;
        margin: 0 10px;
        border: none;
    }
    .movieRow--left--t,
    .movieRow--right--t,
    .movieRow--left--p,
    .movieRow--right--p {
        opacity: 1;
    }
    .modal-content {
        width: 80%;
        max-width: 90%;
        position: fixed;
        left: 10%;
        top: 15%;
    }
    .close {
        font-size: 40px;
    }
}